---
layout: default
permalink: /projects/
title: "Projects"
---
<!-- content-author: 각 프로젝트의 title/meta/desc를 data-i18n로 채운다. 순서/구조는 고정. -->
<section class="projects-page" aria-labelledby="projects-page-h">
  <header class="page-head reveal">
    <div class="section-label"><span class="section-label-text" data-i18n="label.projects">Projects</span></div>
    <h1 id="projects-page-h" data-i18n="projects.heading">Projects</h1>
    <p class="page-intro" data-i18n="projects.intro">Intro placeholder.</p>
  </header>

  <ul class="projects-list">
    {% for project in site.data.projects %}
      {% include project-card.html project=project %}
    {% endfor %}
  </ul>
</section>
